<h2>Danh sách sản phẩm</h2>
<button type="button" class="btn btn-primary text-left">Tạo sản phẩm</button>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Tên</th>
      <th scope="col">Số lượng</th>
      <th scope="col">Đang Bán</th>
      <th scope="col">Giá</th>
      <th scope="col">Giảm giá</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in products">
      <th scope="row">{{ item.id }}</th>
      <td>{{ item.name }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.isActive ? "Có" : "Không" }}</td>
      <td>{{ item.price }}</td>
      <td>{{ item.discount }}</td>
      <td><button ng-click="openPopupDescription(item)" class="btn btn-info" href="">Xem mô tả</button></td>
      <td><button ng-click="openPopupDynamicAttribute(item)" class="btn btn-dark" href="">Các thuộc tính động</button></td>
      <td><a ng-click="openPopUpCategory(item)" class="btn btn-primary" href="">Danh mục</a></td>
      <td><a ng-click="openPopUpTax(item)" class="btn btn-success" href="">Thuế</a></td>
      <td><a class="btn btn-warning" href="">Sửa</a></td>
      <td><a class="btn btn-danger" href="">Xóa</a></td>
    </tr>
  </tbody>
</table>

<div class="overlay" ng-show="showPopupDescription">
  <div class="popup">
    <h3>Mô tả sản phẩm</h3>
    <p>{{ productNow.description }}</p>
    <button ng-click="closePopupDescription()">Đóng</button>
  </div>
</div>

<div class="overlay" ng-show="showPopupDynamicAttribute">
  <div class="popup">
    <h3>Thuộc tính động của sản phẩm</h3>
    <table border="0" style="display: flex; justify-content: center;">
      <tr ng-repeat="(key, value) in productNow.dynamicAttributes">
        <td>
          <span style="font-weight: bold;">{{ key }} :</span>
        </td>
        <td>
          {{ value }}
        </td>
      </tr>
    </table>
    <button ng-click="closePopupDynamicAttribute()">Đóng</button>
  </div>
</div>

<div class="overlay" ng-show="showCategory">
  <div class="popup">
    <h3>Danh mục của sản phẩm</h3>
    <table border="0" style="display: flex; justify-content: center;">
      <tr ng-repeat="category in categories" ng-if="productNow.categoryIds.includes(category.id)">
        <td>
          <span style="font-weight: bold; color: blue;">{{ category.name }}</span>
        </td>
      </tr>
    </table>
    <button ng-click="closePopupCategory()">Đóng</button>
  </div>
</div>

<div class="overlay" ng-show="showTax">
  <div class="popup">
    <h3>Thuế của sản phẩm</h3>
    <table border="0" style="display: flex; justify-content: center;">
      <tr ng-repeat="tax in taxes" ng-if="tax.isDefault || productNow.privateTaxIds.includes(tax.id)">
        <td>
          {{ tax.name }} - {{ tax.rate * 100 }} %
          <span ng-if="tax.isDefault"> (thuế chung) </span>
        </td>
      </tr>
    </table>
    
    <h4>Giá sau thuế: {{ productNow.priceAfterTax }}</h4>
    <button ng-click="closePopupTax()">Đóng</button>
  </div>
</div>

<style>
  .overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup {
  background: white;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
</style>