<div class="overlay" ng-if="showPopupCreate">
  <div class="popup">
    <h4>Tạo sản phẩm</h4>
    
    <table style="border-spacing: 10px; border-collapse: separate;" border="0">
        <tr>
            <td style="text-align: left;">Tên: </td>
            <td><input type="text" class="form-control" id="nameProduct"></td>

            <td style="text-align: left;">Mã: </td>
            <td><input type="text" class="form-control" id="codeProduct"></td>

            <td style="text-align: left;">Serial: </td>
            <td><input type="text" class="form-control" id="serialProduct"></td>
        </tr>

        <tr>
            <td style="text-align: left;">Giá nhập: </td>
            <td>
                <input type="text" id="priceImportProductShow" class="form-control">
                <input type="number" id="priceImportProduct" hidden>
            </td>

            <td style="text-align: left;">Giá bán buôn: </td>
            <td>
                <input type="text" id="priceWholesaleProductShow" class="form-control">
                <input type="number" id="priceWholesaleProduct" hidden>
            </td>

            <td style="text-align: left;">Giá bán lẻ: </td>
            <td>
                <input type="text" id="priceRetailProductShow" class="form-control">
                <input type="number" id="priceRetailProduct" hidden>
            </td>
        </tr>

        <tr>
            <td style="text-align: left;">Nhóm: </td>
            <td>
                <select id="categoryIdProduct" class="form-control">
                    <option value=""></option>
                    <option ng-repeat="item in categories" value="{{ item.id }}">{{ item.name }}</option>
                </select>
            </td>

            <td style="text-align: left;">Đơn vị: </td>
            <td>
                <select id="unitProduct" class="form-control">
                    <option ng-repeat="(key, item) in units" value="{{ item }}">{{ item }}</option>
                </select>
            </td>

            <td style="text-align: left;">Tồn định mức: </td>
            <td>
                <input type="text" id="inventoryStandardProductShow" class="form-control"></input>
                <input type="number" id="inventoryStandardProduct" hidden>
            </td>
        </tr>
        <tr>
            <td style="text-align: left;">Mô tả: </td>
            <td colspan="2">
                <textarea type="text" id="descriptionProduct" class="form-control"></textarea>
            </td>
        </tr>
        <tr>
            <td style="text-align: left;">Đang sử dụng: </td>
            <td><input type="checkbox" id="isActiveProduct" class="form-check" checked></td>
        </tr>
    </table>

    <button ng-click="createProduct()" class="btn btn-primary">Tạo</button>
    <button class="btn btn-danger" ng-click="closePopupCreate()">Đóng</button>
  </div>
</div>