<div class="overlay" ng-if="showPopupCategory">
  <div class="popup">
    <h3>Danh mục của sản phẩm</h3>
    <table border="0" style="display: flex; justify-content: center;">
      <tr ng-repeat="category in categories" ng-if="productNow.categoryIds.includes(category.id)">
        <td>
          <span style="font-weight: bold; color: blue;">{{ category.name }}</span>
        </td>
      </tr>
    </table>
    <button class="btn btn-danger" ng-click="closePopupCategory()">Đóng</button>
  </div>
</div>