<div class="overlay" ng-if="showPopupTax">
  <div class="popup">
    <h3>Thuế của sản phẩm</h3>
    <table border="0" style="display: flex; justify-content: center;">
      <tr ng-repeat="tax in defaultTaxes">
        <td>
          {{ tax.name }} - {{ tax.rate * 100 }} %
          <span> (thuế chung) </span>
        </td>
      </tr>

      <tr ng-repeat="tax in productNow.privateTaxes">
        <td>
          {{ tax.name }} - {{ tax.rate * 100 }} %
          <span> (thuế riêng) </span>
        </td>
      </tr>
    </table>
    
    <h4>Giá sau thuế: {{ productNow.priceAfterTaxesFormat }}</h4>
    <button class="btn btn-danger" ng-click="closePopupTax()">Đóng</button>
  </div>
</div>