<div class="overlay" ng-if="showPopupUpdate">
  <div class="popup">
    <h4>Sửa sản phẩm</h4>
    <table style="border-spacing: 10px; border-collapse: separate;" border="0">
        <tr>
            <td style="text-align: left;">Tên: </td>
            <td><input type="text" class="form-control" id="nameProduct" value="{{ productNow.name }}"></td>

            <td style="text-align: left;">Mã: </td>
            <td><input type="text" class="form-control" id="codeProduct" value="{{ productNow.code }}"></td>

            <td style="text-align: left;">Serial: </td>
            <td><input type="text" class="form-control" id="serialProduct" value="{{ productNow.serial }}"></td>
        </tr>

        <tr>
            <td style="text-align: left;">Giá nhập: </td>
            <td>
                <input type="text" class="form-control" id="priceImportProductShow">
                <input type="number" hidden id="priceImportProduct" value="{{ productNow.priceImport }}">
            </td>

            <td style="text-align: left;">Giá bán buôn: </td>
            <td>
                <input type="text" class="form-control" id="priceWholesaleProductShow">
                <input type="number" hidden id="priceWholesaleProduct" value="{{ productNow.priceWholesale }}">
            </td>

            <td style="text-align: left;">Giá bán lẻ: </td>
            <td>
                <input type="text" class="form-control" id="priceRetailProductShow">
                <input type="number" hidden id="priceRetailProduct" value="{{ productNow.priceRetail }}">
            </td>
        </tr>

        <tr>
            <td style="text-align: left;">Nhóm: </td>
            <td>
                <select id="categoryIdProduct" class="form-control">
                    <option value=""></option>
                    <option ng-repeat="item in categories" ng-selected="item.id === productNow.categoryId" value="{{ item.id }}">{{ item.name }}</option>
                </select>
            </td>

            <td style="text-align: left;">Đơn vị: </td>
            <td>
                <select id="unitProduct" class="form-control">
                    <option ng-repeat="(key, item) in units" ng-selected="item === productNow.unit" value="{{ item }}">{{ item }}</option>
                </select>
            </td>

            <td style="text-align: left;">Tồn định mức: </td>
            <td>
                <input type="text" class="form-control" id="inventoryStandardProductShow"></input>
                <input type="number" id="inventoryStandardProduct" value="{{ productNow.inventoryStandard }}" hidden>
            </td>
        </tr>
        <tr>
            <td style="text-align: left;">Mô tả: </td>
            <td colspan="2">
                <textarea type="text" id="descriptionProduct" class="form-control">{{ productNow.description }}</textarea>
            </td>
        </tr>
        <tr>
            <td style="text-align: left;">Đang sử dụng: </td>
            <td><input type="checkbox" id="isActiveProduct" class="form-check" checked></td>
        </tr>
    </table>

    <button ng-click="updateProduct()" class="btn btn-warning">Sửa</button>
    <button class="btn btn-danger" ng-click="closePopupUpdate()">Đóng</button>
  </div>
</div>