@model CategoryVM

<h1>Create Category</h1>

<form method="POST" asp-area="Category" asp-controller="Category" asp-action="Create">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name">
        <span asp-validation-for="Name"></span>
    </div>

    <div>
        <label asp-for="Description"></label>
        <input asp-for="Description">
        <span asp-validation-for="Description"></span>


    <button type="submit">Tạo chuyên mục</button>
</form>


