<div class="overlay" ng-if="showPopupUpdate">
  <div class="popup">
    <h3>Sửa khách hàng</h3>
    <table>
        <tr>
            <td>Tên: </td>
            <td><input type="text" id="name" value="{{ customerNow.name }}"></td>
        </tr>
        <tr>
            <td>Số điện thoại: </td>
            <td><input type="number" id="phoneNumber" value="{{ customerNow.phoneNumber }}"></td>
        </tr>
        <tr>
            <td>Địa chỉ: </td>
            <td><input type="text" id="address" value="{{ customerNow.address }}"></td>
        </tr>
    </table>

    <button ng-click="updateCustomer()" class="btn btn-warning">Sửa</button>
    <button class="btn btn-danger" ng-click="closePopupUpdate()">Đóng</button>
  </div>
</div>