<div class="overlay" ng-if="showPopupCreate">
  <div class="popup">
    <h4>Tạo danh mục sản phẩm</h4>
    <table style="border-spacing: 10px; border-collapse: separate;">
        <tr>
            <td style="text-align: left;">Tên: </td>
            <td><input type="text" class="form-control" id="nameCategory"></td>

            <td style="text-align: left;">Mã: </td>
            <td><input type="text" class="form-control" id="codeCategory"></td>
        </tr>
        <tr>
            <td style="text-align: left;">Mô tả: </td>
            <td colspan="2"><input class="form-control" type="text" id="descriptionCategory"></td>
        </tr>
    </table>

    <button ng-click="createCategory()" class="btn btn-primary btn-sm">Tạo</button>
    <button class="btn btn-danger btn-sm" ng-click="closePopupCreate()">Đóng</button>
  </div>
</div>