<div class="overlay" ng-if="showPopupUpdate">
  <div class="popup">
    <h3>Sửa danh mục sản phẩm</h3>
    <table>
        <tr>
            <td>Tên: </td>
            <td><input type="text" id="name" value="{{ categoryNow.name }}"></td>
        </tr>
        <tr>
            <td>Mô tả: </td>
            <td><textarea id="description">{{ categoryNow.description }}</textarea></td>
        </tr>
    </table>

    <button ng-click="updateCategory()" class="btn btn-warning">Sửa danh mục</button>
    <button class="btn btn-danger" ng-click="closePopupUpdate()">Đóng</button>
  </div>
</div>