<div class="overlay" ng-if="showPopupUpdate">
  <div class="popup">
    <h3>Sửa thuế</h3>
    <table>
        <tr>
            <td>Tên: </td>
            <td><input type="text" id="name" value="{{ taxNow.name }}"></td>
        </tr>
        <tr>
            <td>Mức thuế (%): </td>
            <td><input type="number" id="rate" value="{{ taxNow.rate }}"></td>
        </tr>
        <tr>
            <td>Mã thuế: </td>
            <td><input type="text" id="code" value="{{ taxNow.code }}"></td>
        </tr>
        <tr>
            <td>Ghi chú: </td>
            <td><textarea id="description">{{ taxNow.description }}</textarea></td>
        </tr>
        <tr>
            <td>Đang hoạt động: </td>
            <td><input type="checkbox" id="isActive" ng-checked="taxNow.isActive"></td>
        </tr>
        <tr>
            <td>Mặc định: </td>
            <td><input type="checkbox" id="isDefault" ng-checked="taxNow.isDefault"></td>
        </tr>
    </table>

    <button ng-click="updateTax()" class="btn btn-warning">Sửa</button>
    <button class="btn btn-danger" ng-click="closePopupUpdate()">Đóng</button>
  </div>
</div>