<h2>Danh sách thuế</h2>
<button type="button" class="btn btn-primary text-left" ng-click="openPopupCreate()">Tạo thuế</button>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Stt</th>
      <th scope="col">Tên</th>
      <th scope="col">Mức thuế</th>
      <th scope="col">Mã thuế</th>
      <th scope="col">Hiệu lực</th>
      <th scope="col">Mặc định</th>
      <th scope="th"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(key, item) in taxes">
      <th scope="row">{{ key + 1 }}</th>
      <td>{{ item.name }}</td>
      <td>{{ item.rate * 100 }}%</td>
      <td>{{ item.code }}</td>
      <td>{{ item.isActive ? 'Đang hiệu lực' : 'Không hiệu lực' }}</td>
      <td>{{ item.isDefault ? 'Mặc định' : 'Không mặc định' }}</td>
      <td><a ng-click="openPopupDescription(item)" class="btn btn-info">Xem mô tả</a></td>
      <td><a ng-click="openPopupUpdate(item)" class="btn btn-warning" href="">Sửa</a></td>
      <td><a ng-click="openPopupDelete(item)" class="btn btn-danger" href="">Xóa</a></td>
    </tr>
  </tbody>
</table>

    <button ng-click="paginate.minusPageNumber()" class="btn btn-dark btn-sm">Lùi</button>
    <input id="pageNumber" style="width: 50px;" type="number" ng-model="paginate.pageNumber"></input> / {{ paginate.totalPages }}
    <button ng-click="paginate.plusPageNumber()" class="btn btn-dark btn-sm">Tiến</button>


<div ng-include="templateDescription"></div>

<div ng-include="templateCreate"></div>

<div ng-include="templateUpdate"></div>

<div ng-include="templateDelete"></div>
