@model OrderVM

@{
    List<CustomerModel> customers = ViewData["customers"] as List<CustomerModel>;
    List<ProductModel> products = ViewData["products"] as List<ProductModel>;
}

<h1>Create Order</h1>

<form method="POST" asp-area="Order" asp-controller="Order" asp-action="Create">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name">
        <span asp-validation-for="Name"></span>
    </div>

    <div>
        <label asp-for="CustomerName"></label>
        <input asp-for="CustomerName">
        <span asp-validation-for="CustomerName"></span>
    </div>

    @if (customers.Count > 0) {
        <div>
            <label asp-for="CustomerId"></label>
            @foreach (var customer in customers) {
                <input type="radio" name="CustomerId" value="@customer.Id"> <span>@customer.Name</span>
            }
        </div>
    }

    @if (products.Count > 0) {
        <div>
            @{
                int index = 0;
            }

            @foreach (var product in products) {
                <div>
                    <input type="checkbox" name="ProductInOrders[@index].ProductId" value="@product.Id"> <span>@product.Name</span>
                    <span>Số lượng: </span> <input type="number" name="ProductInOrders[@index].Quantity" value=""> 
                </div>
                index++;
            }
        </div>
    }
    

    <div>
        <label asp-for="Completed"></label>
        <input asp-for="Completed">
        <span asp-validation-for="Completed"></span>
    </div>


    <button type="submit">Tạo hóa đơn</button>
</form>


