@model OrderVM

@{
    List<CustomerModel> customers = ViewData["customers"] as List<CustomerModel>;
}

<h1>Update Order</h1>

<form method="POST" asp-area="Order" asp-controller="Order" asp-action="Update">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div>
        <label asp-for="CustomerName"></label>
        <input asp-for="CustomerName">
        <span asp-validation-for="CustomerName"></span>
    </div>

    @if (customers.Count > 0) {
        <div>
            <label asp-for="CustomerId"></label>
            @foreach (var customer in customers) {
                string check = null;
                if (Model.CustomerId == customer.Id) {
                    check = "checked";
                }
                <input type="radio" name="CustomerId" value="@customer.Id" @check> <span>@customer.Name</span>
            }
        </div>
    }

    <div>
        <label asp-for="Completed"></label>
        <input asp-for="Completed">
        <span asp-validation-for="Completed"></span>
    </div>


    <button type="submit">Cập nhật hóa đơn</button>
</form>