<h2>Danh sách thuộc tính động</h2>

<button type="button" class="btn btn-primary text-left" ng-click="openPopupCreate()">Tạo thuộc tính động</button>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Stt</th>
      <th scope="col">Tên</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(key, item) in dynamicAttributes">
      <th scope="row">{{ key + 1 }}</th>
      <td>{{ item.name }}</td> 
      <td><a ng-click="openPopupUpdate(item)" class="btn btn-warning btn-sm" href="">Sửa</a></td>
      <td><a ng-click="openPopupDelete(item)" class="btn btn-danger btn-sm" href="">Xóa</a></td>
    </tr>
  </tbody>
</table>


    <button ng-click="paginate.minusPageNumber()" class="btn btn-dark btn-sm">Lùi</button>
    <input id="pageNumber" style="width: 50px;" type="number" ng-model="paginate.pageNumber"></input> / {{ paginate.totalPages }}
    <button ng-click="paginate.plusPageNumber()" class="btn btn-dark btn-sm">Tiến</button>


<div ng-include="templateCreate"></div>

<div ng-include="templateUpdate"></div>

<div ng-include="templateDelete"></div>
